@model IEnumerable<BookItDotCom.Web.ViewModels.OutletViewModel>

<div class="container">
    <div class="col-md-12">
        <div id="SearchBox">
            @await Component.InvokeAsync("SearchBoxWidget")
        </div>
    </div>
    <div class="panel panel-default">
        <h1 class="panel-heading">Hote List</h1>
        <div class="panel-body">
            <div class="list-group">
                @foreach (var m in Model)
                {
                    <a href="#" class="list-group-item">
                        <div class="col-md-4">
                            <h3>@m.HotelOutletName</h3>
                        </div>
                        <div class="col-md-8">
                             @foreach (var r in m.Rooms)
                             {
                                 <div class="row">
                                     <div class="col-sm-5">
                                         <p>@r.RoomType</p>
                                     </div>
                                     <div class="col-sm-5">
                                         <p>@r.Price</p>
                                     </div>
                                    
                                 </div>

                             }
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
  
</div>