body {
    font-family:Helvetica,Arial, sans-serif;
    padding-bottom: 20px;
    color: #5a5a5a;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.content-container {
    max-width: 1110px;
    margin:0 auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
}
/*header logo top*/
.logo-container {
    padding-left: 40px;
}

    .logo-container img {
        width: 30px;
        padding-top: 0;
        margin-top: -7px;
    }


    .logo-container span {
        color: #E76F25;
        font-size:1.5em;
        font-weight:bold;
        padding-left:10px;
    }

/** nav bar styles override */
.navbar {
    border: none;
    border-radius: 0px;
}

.navbar-center {
    margin-left: auto;
    margin-right: auto;
}

.navbar-orange
{
    background-color: #E76F25;
    margin-bottom:0;
}

.navbar-nav {
    width: 100%;
    /*text-align:center;*/
}


.navbar-nav > li {
    float: none;
    display: inline-block;
    text-align: center;
}

    .navbar-nav > li a
    {
        color:#fff;
    }

        .navbar-nav > li a:hover {
            background-color: #fff;
            color: #E76F25;
        }

        /* Set width on the form input elements since they're 100% wide by default */
        input,
        select,
        textarea {
            padding-left: 10px;
            min-height: 40px;
            color: #5a5a5a;
        }

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.form-container {
    max-width: 500px;
    background: rgba(38,38,38, 0.9);
    /*background: #5a5a5a;*/
    width: 40%;
    /*filter: alpha(opacity=30);
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.30;
    opacity: 0.3;
    zoom: 1;*/
    padding: 15px;
    margin-left: 0;
}

.form-container h2{
    color: #fff;
}

.form-control-container
{
    padding:10px 0;
}

.text-box-control
{
    width:100%  !important;
}

.empty-row
{
   min-height:10px;
}

.form-control-label {
    color: #fff;
    padding-left: 0px;
}

.top-buffer {
    margin-top: 20px;
}

.select-control
{
    min-height:20px;
}

.select-control.small{
    width:60px;
}

.select-control.medium {
    width: 140px;
}

/*.container-fluid::before {
    content: none !important;
}

.nav.navbar-nav::before, .navbar.navbar-orange::before,
.collapse.navbar-collapse.navbar-center::before {
    content: none !important;
}*/

.hero-container{
    background-image: url('../img/coastal-city-sea-dreaming-summer-photography-town-blue-sky-wallpaper.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    min-height:764px;
    display:flex;
    align-items:center;
}

.hero-headline-text-container {
    background: rgba(255,255,255, 0.5);
    width: 60%;
    min-height: 290px;
    margin: 0;
    display:flex;
    align-items:center;
}

.hero-headline-text-container .hero-headline-text {
    margin: 0;
    width:100%;
}


.hero-headline-text-container p {

    text-align: center;
    color: #333;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 500;
}

    .hero-headline-text-container h2 {
        text-align: center;
        color: #E76F25;
        font-size: 3em;
        font-weight: 500;
    }

.content
{
    padding-left:25px;
}

.search-bar-top
{
    background-color:#ebebeb;
    height:100px;
}

.search-item {
    margin: 20px 0;
    border: 1px solid #E76F25;
}

.hotel-search-preview 
{
    padding-left:0;
}


.hotel-search-preview img {
    width:100%;
}

.hotel-search-preview h3 {
    font-weight:bold;
    font-size:1.2em;
    margin-top:10px;
    margin-bottom:0;
}

.district-location span
{
    font-size:0.8em;
}

.advanced-filter 
{
    padding:0;
    margin-top:20px;
}


.advanced-filter-heading {
    background-color: #333;
    margin:0;
    padding:10px;
}
    .advanced-filter-heading h3 {
        color: #fff;
        margin: 10px 0;
        text-align: center;
        font-size: 1.2em;
    }


.advanced-filter-items-container
{
    background-color:#ebebeb;
    padding:10px 0;
}

.advanced-filter-item h4
{
    text-align:center;
    font-size:1em;
}


.orange {
    color: #E76F25;
}

.star {
    float: left;
    background-image: url(../img/Star.png);
    background-repeat: no-repeat;
    background-size: 76%;
    width: 20px;
    height: 20px;
    background-position: 6px 5px;
}

.stars-label {
    float: left;
}

.stars-control {
    float: left;
}

    .stars-control input[type=checkbox] {
        min-height:20px;
    }

.star-item {
    width: 80%;
    margin: 0 auto;
    max-width: 113px;
}

